{{ if eq .Type "register" }}
<div class="post page">
<h2>Registration Form</h2>
<form id="contact">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="surname">Surname:</label><br>
    <input type="text" id="surname" name="surname" required><br><br>

    <label for="affiliation">Affiliation:</label><br>
    <input type="text" id="affiliation" name="affiliation" required><br><br>

    <label for="dinner">Do you think you will be present for the dinner on January 8 (to be defined yet)?</label><br>
    <select id="dinner" name="dinner" required>
        <option value="">-- Please choose an option --</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Maybe">Maybe</option>
    </select><br><br>

    <button type="button" class="btn btn-primary" onclick="sendMail()">Open Email</button>
</form>
</div>
{{ end }}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
  integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  const images = Array.from(document.querySelectorAll(".post-content img"));
  images.forEach((img) => {
    mediumZoom(img, {
      margin: 0 /* The space outside the zoomed image */,
      scrollOffset: 40 /* The number of pixels to scroll to close the zoom */,
      container: null /* The viewport to render the zoom in */,
      template: null /* The template element to display on zoom */,
      /*background: "rgba(50, 50, 50, 1)",*/
    });
  });
</script>
